<h1> LOG IN </h1>

<%= flash[:message] = flash[:message] %>
<%= form_for(:session, url: login_path) do |f| %>
<%= f.email_field :email, :placeholder => "Email" %>
<%= f.password_field :password, :placeholder => "Password" %>
<%= f.submit "Log in", class: "btn-submit" %>
<% end %>

<h3> Or Login with Google: </h3>
<%= button_to 'Google', '/auth/google_oauth2'%>