<%if cocktail.errors.any?%>
    <ul>
        <% cocktail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<%end%>

<%= f.text_field :name, label: "Cocktail Name"%>
<%= f.text_field :instructions, label: "Mixing Directions"%>

<h3> Ingredients:</h3>

<%= f.fields_for :recipes do |r|%>
    <div class="row">
        <div class="col">
            <%= r.text_field :quantity %>
        </div> 
        <%= r.fields_for :ingredient do |i|%>
            <div class="col">
                <%= i.text_field :name %>
            </div>    
        <%end%>
    </div>    
<%end%>
