 <h3> <%= @cocktail.name %> 
 <h4> Recipe by : <%= @cocktail.user.email %>

    <% if @cocktail.user_id == current_user.id %>
        <hr>
        <a class="btn btn-primary" <%= link_to "Edit Cocktail", edit_user_cocktail_path(current_user.id, @cocktail.id)%> </a> |
        <a class="btn btn-primary" <%= link_to "Delete Cocktail", user_cocktail_path(current_user.id, @cocktail), :method => :delete%> </a>
        <% end %>

 <h4> Directions : </h4> <p> <%= @cocktail.instructions %> </p>

 <h4> Ingredients :
 <p>
  <% @cocktail.recipes.each do |r| %>
                    <% if r.quantity%>
                        <%= r.quantity %>
                    <% end %>
                    <% if r.ingredient.name%>
                        <%= r.ingredient.name.capitalize %>
                        <p>
                    <% end %>
            <%end%>