 <h3> <%= @cocktail.name %> 
 <h5> Recipe by : <%= @cocktail.user.email %> </h5>

    <% if @cocktail.user_id == current_user.id %>
        <hr>
        <a class="btn btn-primary" <%= link_to "Edit Cocktail", edit_user_cocktail_path(current_user.id, @cocktail.id)%> </a> |
        <a class="btn btn-primary" <%= link_to "Delete Cocktail", user_cocktail_path(current_user.id, @cocktail), :method => :delete%> </a>
        <% end %>

 <h3> Directions : </h4> <%= @cocktail.instructions %> </h3>
 <h4> Glassware : <%= @cocktail.glassware %>  </h4>
 <h4> Ice Type : <%= @cocktail.ice_type %>  </h4>
 <h4> Garnish :  <%= @cocktail.garnish %> </h4>

 <h4> Ingredients :
 <p>
  <% @cocktail.recipes.each do |r| %>
                    <% if r.quantity%>
                        <%= r.quantity %>
                    <% end %>
                    <% if r.ingredient.name%>
                        <%= r.ingredient.name.capitalize %>
                        <p>
                    <% end %>
            <%end%>