<h2 >Add a comment for <%= @cocktail.name %> </h2>
<h3> Recipe by: <%=@cocktail.user.email %> </h3>
<%= form_for([@comment.cocktail,@comment]) do |f|%>
 <% if !@comment.cocktail %>
  <%= f.label :cocktail %>
  <%= f.collection_select :cocktail_id, Cocktail.all, :id, :name %>
<% else %>
    <%= f.hidden_field :cocktail_id %>
<% end %>
  <%= f.label :comment %>
  <%= f.text_field :comment_text %>
  <%= f.submit %>
<% end %>